{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div> <h2>see your previous seesion here </h2>
    <a class="btn" style="color: white; background-color: #fd5e14;" href="{% url 'user_session_list' %}" id="body-link-row"> view</a>
</div>
<h1>Upload Speech File</h1>
    <form action="{% url 'process_audio' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="file" name="audio_file" accept="audio/*" required>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
{% endblock %}